// Header Styling

#masthead {
    
    &.header-widget {

        #header-image {
            height: auto;

            @media (min-width: 48rem) {
                display: flex;
                align-items: center;
                gap: 1.25rem;
            }
        }

        .header {

            &-wrapper {
                width: 100%;
                position: relative;
                z-index: 9;
                margin-top: 1.25rem;
                margin-bottom: 4rem;

                @media (min-width: 48rem) {
                    display: flex;
                    align-items: center;
                    margin-top: 2.5rem;
                    margin-bottom: 5rem;

                    > * {
                        width: 50%;
                    }
                }
            }

            &-hero-wrapper {
                
                .itre-hero-area {

                    @media (min-width: 48rem) {
                        text-align: initial;
                    }
                }

                p {
                    color: white;
                    margin-bottom: 2.5rem;
                    
                    @media (min-width: 48rem) {
                        width: 60%;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        margin-bottom: 0;
                    }
                }
            }

            &-widget-area-wrapper {

                .wpcf7 {
                    padding: 1.5rem;
                    background-color: rgba(255,255,255,0.45);
                    border-radius: 0.5rem;

                    input,
                    select,
                    textarea {
                        border-radius: 0.25rem;
                        border: 0;
                    }
                }
            }
        }
        
    }
}